* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #F5F5F7;
    height: 100vh;
    overflow: hidden;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.navigation {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:97px;
    margin: 0;
    padding:0 19px;
    border-bottom:1px solid #ECEDED;
}

.logo-group {
    display: flex;
    margin-right:109px;
}

.navigation span.logo {
    font-size: 45px;
    font-weight: 700;
    display: inline;
}

.navigation span.logo:first-child {
    color:#3D8493;
}
.navigation span.logo:nth-child(2) {
    color:#D89F65;
}
.navigation span.logo:nth-child(3) {
    color:#4A5C2F;
}

.navigation .search {
    width:378px;
    height: 58px;
    background-color: #ECF3F5;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 20px;
    margin-right:200px;
}

.navigation .search::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size:15px;
}

.res{
    display:flex;
    align-items: center;
    gap:16px;
    flex-shrink:0;
}
.reservation {
    background-color: #B1CED4;
    border-radius: 10px;
    border:none;
    width:175px;
    height:58px;
    transition: all 0.3s ease-out;
    flex-shrink: 0;
}

.reservation:hover {
    cursor: pointer;
    background-color: #2C3832;
}
    
.reservation p{
    font-family: 'Quicksand', sans-serif;
    font-size:16px;
    font-weight: 500;
    color:#2C3832;
    text-transform: uppercase;
}

.reservation:hover p {
    color:#FFFFFF;
}

.reservation p::before {
    content: "+";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:18px;
    height:18px;
    border-radius: 50%;
    border:2px solid #2C3832;
    margin-right: 8px;
}

.reservation:hover p::before {
    border:2px solid #FFFFFF;
    border-radius: 50px;
    color:#FFFFFF;
}

.date::before{
    content:url(./assets/icons/calendar.png);
    padding-right:7px;
}

.date {
    margin-right:21px;
    flex-shrink: 0;
}

.menu-cards {
    max-width:910px;
    max-height:550px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 203px);
    gap: 29px;
    margin:40px 0 0 143px; 
    padding-right: 10px;
}
 
.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width:203px;    
    height:214px;
    background: #D8E6E9;
    border: 1px solid #D8E6E9;
    border-radius:15px;
}

.card-img{
    width:100%;
    height:143px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 10px;
}

.card-item:hover .card-img {
    transform: scale(1.05);
}

.card-img {
    transition: 0.3s ease;
}
.card-item {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px; 
    background: rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
}

.card-item:hover .card-overlay {
    opacity: 1;
    pointer-events: auto;
}

.overlay-btn {
    background: #D89F65;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.overlay-btn:hover {
    color: transparent;
}

.overlay-btn:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url(./assets/icons/checkmark-circle-outline-svgrepo-com.svg) no-repeat center;
    background-size: 20px 20px;
}

.card-item h3 {
    font-family: 'Quicksand', sans-serif;
    font-size:17px;
    font-weight:500;
    margin-bottom:8px;
    text-transform: uppercase;
}

.dish-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    padding: 0 10px; 
    font-size: 11px;
}

.dish-info-category {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dish-info-items {
    display: flex;
    align-items: center;
    gap: 8px;
}

.category {
    font-family: 'Quicksand', sans-serif;
    font-size:12px;
    font-weight:500;
    text-transform: uppercase;
    position: sticky;
}

.allergen-n {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #E0B284;
    color: #000000;
    font-size: 14px;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allergen-g {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #D89F65;
    color: #FFFFFF;
    font-size: 14px;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allergen-free {
    color: #060D0F;
    font-size: 14px;
    font-weight:500;
    display: inline-block;
}

.pepper {
    width: 20px;
    height: 17px;
    background: url("./assets/icons/pepper.png") no-repeat center;
    background-size: contain;
}

.category-bar {
    display: flex;
    justify-content: center;
    margin-left:115px;
    gap: 77px;
    padding: 18px;
    background: #EAF0F0;
    height: 106px;
    width: 949px;
}

.cat-btn {
    flex: 1;
    height: 50px;
    border-radius: 12px;
    border: none;
    background: #D9D9D9;
    color: #A9A9A9;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cat-btn.active {
    background: #4A5C2F;
    color: #ECF3F5;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

footer{
    align-items: center;
}
